DB_URL=postgresql+asyncpg://name:password@localhost/db_name

S3_ENDPOINT_URL = "http://localhost:9000"
S3_ACCESS_KEY = "minioadmin"
S3_SECRET_KEY = ""
S3_BUCKET_NAME = ""
S3_REGION = "us-east-1"

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=
ADMIN_FULL_NAME="Admin"

MAIL_EMAIL=crm@company.ru
MAIL_PASSWORD=ваш_app_пароль
MAIL_IMAP_HOST=imap.yandex.ru
MAIL_IMAP_PORT=993
MAIL_SMTP_HOST=smtp.yandex.ru
MAIL_SMTP_PORT=465
MAIL_ATTACHMENT_DIR=/storage/attachments
MAIL_DEFAULT_USER_ID=00000000-0000-0000-0000-000000000001
